<%-layout("/layouts/boilerplate.ejs") %>

	<body>
		<section id="create-post" class="col-6 offset-3 mt-5">
			<form method="POST" action="/feeds" class="needs-validation" enctype="multipart/form-data" >
				<textarea name="post[postContent]" id="content" placeholder="What's on your mind?" required></textarea><br>
				<input type="file" name="postImage" id="post" hidden>
				<div class="postbtn">
<label for="post"><i class="fa-regular fa-image"></i></label>
				<button type="submit" class="btn btn-dark">Post</button>
			</div>
			</form><br><br><br>
		</section>

		<section id="posts-list" class="col-6 offset-3 ">

		
			<% for(const post of posts) {%>
				<div class="post mb-5" id=<%= post._id %> > 
						<div class="post-header">
							<a href="/profile/<%=post.author._id%>"><img
									src="<%=post.author.profileImage.url%>" alt="Profile Pic 1"></a>
							<div>
								<p>
									<%=post.author.username%>
								</p>
								<time>1 hour ago</time>
							</div>
						</div><br>
						<% if(post.postImage.url) { %>
							<div class="postImage ">
								<img src="<%=post.postImage.url%>" alt="Profile Pic 1">
							</div>
							<%}%>
								<br>
								<p>
									<%=post.postContent%>
								</p>
						      
								<div class="post-actions">
									<!-- <div><i class="fa-regular fa-heart mx-2 "></i> 500</div> -->
							
	                                    <%let found="false"%>
										<%for(like of post.likes){%>
										  <%if(currUser._id.equals(like._id)){%>
											<%found="true"%>
											<%break%>
											<%}else{%>
									<%found="false"%>
									<%}%>
									<%}%>
									<%if(found==="true"){%>
										<form method="POST" action="/feeds/<%=post._id%>/unlike">
											<button type="submit" class="btn btn-dark">UnLike <%=post.likes.length%></button>
										</form>
										<%}%>
										<%if(found==="false"){%>
											<form method="POST" action="/feeds/<%=post._id%>/like">
												<button type="submit" class="btn btn-dark">Like  <%=post.likes.length%></button>
											</form>
											<%}%>
												 <form action="" class="comment" id="loginform">
													<input type="text" name="comment"  class="form-control" id="<%=post._id%>">		
													
												 </form>
									
								</div>
				
							</div>
							<%}%>
							
		</section>


		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</body>