<%-layout("/layouts/boilerplate.ejs") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN%>";
    const coordinates = <%-JSON.stringify(listing.geometry.coordinates)%>;
    </script>
<body>
            <div class="col-6 offset-3">
                <div class="card" style="border:none; margin-top: 3rem;">
                    <a href="<%=listing.image.url%>"><img src="<%=listing.image.url%>" class="card-img-top"
                            style="height: 20rem;" /></a>
                    <div class="card-body mt-3">
                        <b>
                            <p>Owned By : <%=listing.owner.username %>
                            </p>
                        </b>
                        <h1 class="card-title">
                            <%=listing.title%>
                        </h1>
                        <p class="card-text">
                            <%=listing.description%>
                        </p>
                    </div>
                    <ul>
                        <li>&#8377;<%=listing.price.toLocaleString("en-IN")%>/ Night</li>
                        <li>
                            <%=listing.location%>
                        </li>
                        <li>
                            <%=listing.country%>
                        </li>
                    </ul>
                    <div class="card-body d-flex">
                        <% if(currUser && currUser._id.equals(listing.owner._id)) {%>
                            <a href="/listings/<%=listing._id%>/edit"
                                class="card-link text-decoration-none"><button class="btn btn-dark">Edit</button></a>
                            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                                <button class="btn btn-dark mx-3">Delete</button>
                            </form>
                        <%}%>
                    </div>
                    <hr>
                    <div class=" mb-3 mt-3">

                        <% if(currUser){%>
                            <h4>Leave a Review</h4>
                            <form method="POST" action="/listings/<%=listing.id%>/reviews" novalidate
                                class="needs-validation">
                                <fieldset class="starability-slot">
                                    <legend>Rating:</legend>
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                        value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                                <div class="mt-4">
                                    <label for="comment" class="form-label">Comment</label>
                                    <textarea name="review[comment]" id="" cols="30" rows="5" class="form-control"
                                        required></textarea>
                                    <div class="invalid-feedback">Please add some comment</div>
                                </div>
                                <button class="btn btn-outline-dark mt-2">Submit</button>
                            </form>

                            <%}%>
                                <% if(listing.reviews.length>0) { %>
                                    <h4>All Reviews</h4>
                                    <div class="row">
                                        <hr>
                                        <% for(review of listing.reviews) { %>
                                            <div class="card col-5 ms-4 mb-3">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @<%=review.author.username%>
                                                    </h5>
                                                    <p class="card-text starability-result"
                                                        data-rating="<%=review.rating %>"></p>
                                                    <p class="card-text">
                                                        <%=review.comment %>
                                                    </p>
                                                </div>

                                                <form class="mb-3" method="POST"
                                                    action="/listings/<%=listing._id %>/reviews/<%=review._id%>?_method=DELETE">
                                                    <button class="btn btn-dark">Delete</button>
                                                </form>
                                            </div>
                                            <% } %>
                                    </div>
                            <% } %>
                    </div>
                </div>
                
            </div>
            <div class="col-6 offset-3">
                <h3>Where you'll be </h3>
                <a href="https://labs.mapbox.com/contribute/#/?owner=mapbox&id=streets-v12&access_token=pk.eyJ1IjoiZGVsdGEtc3R1ZHVlbnQiLCJhIjoiY2xvMDk0MTVhMTJ3ZDJrcGR5ZDFkaHl4ciJ9.Gj2VU1wvxc7rFVt5E4KLOQ&utm_source=http%3A%2F%2Flocalhost%3A8080%2F&utm_medium=attribution_link&utm_campaign=referrer&l=7.1518%2F28.11%2F76.704&q="><div id="map"></div></a>
            </div>

    </body>
    <script src="/js/map.js"></script>
    
  